<!DOCTYPE html>
<html>
  <head>
    <title>Homepage - J.S. Holiday car rentals</title>
    <%- include('head') %>
  </head>
  <body>
    <main>
      <p>This is going to be a dashboard some day...</p>
      <p>(Bonus feature: implement a dashboard!)</p>
      <p><a href="/cars">Go to cars</a></p>
    </main>
  </body>
</html>
