<!DOCTYPE html>
<html>
  <head>
    <title>Homepage - J.S. Holiday car rentals</title>
    <%- include('head') %>
  </head>
  <body>
    <main>
      <p>Put links here</p>
    </main>
  </body>
</html>
