body {
  background-color: #F0F0F0;
}

section {
  background-color: #EAEAEA;
  padding: 0.5em;
  margin: 1em;
  box-sizing: border-box;

}

h1, h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

main {
  display: block;
  width: 60%;
  max-width: 100;
  margin: 1em auto;
}
